* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
#editor-area{
  width: 1280px;
  height: 720px;
  background-color: #e8eaf6;
}
.gridCell{
  border: 1px solid #c5cae9;
  border-width: 0 1px 1px 0;
  float: left;
}
.draggable{
  position: absolute;
  cursor: move;
  user-select: none;
  text-align: center;
  color: #7986cb;
}
#addButton{
  border-radius: 50% 0 0 50%;
  background-color: #673ab7;
  color: #ffffff;
  width: 50px;
  height: 50px;
  line-height: 44px;
  font-size: 2.5em;
  position: absolute;
  right: 0;
  top: 50vh;
  text-align: center;
  cursor: pointer;
}


.draggable {
  height: 100%;
}

.draggable .resizers{
  width: 100%;
  height: 100%;
  border: 3px solid #673ab7;
  box-sizing: border-box;
}

.draggable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  border: 3px solid #673ab7;
  position: absolute;
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}